@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}
html,
body {
  min-height:100vh ;
  background-color: var(--Slate-300);
  font-family: "Outfit", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
main {
  background-color: var(--White);
  border-radius: 1rem;
  
}
.section-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
img {
  width: 90%;
  outline: none;
  border: none;
  border-radius: 1rem;
  margin-top: 1rem;
}
h3 {
  text-align: center;
  font-size: 21px;
  color: var(--Slate-900);
  padding: 0 2rem;
}
p {
  text-align: center;
  line-height: 1.2rem;
  font-size: 15px;
  margin-bottom: 2rem;
  padding: 0 2rem;
  color: var(--Slate-500);
  font: bolder;
  font-weight: 400;
}

@media (min-width:768px) {
  main{
    width: 45% ;
  }
  
}
@media (min-width:1024px) {
  main{
    width: 25% ;
  }
  
}